//- about.pug
extends layout
block content
    <div id="page-banner-area" class="page-banner-area">
    <!-- Subpage title start -->
    <div class="page-banner-title">
    <div class="text-center">
    <h2>About Bolt Productions</h2>
    </div>
    </div><!-- Subpage title end -->
    </div>

    <section id="main-container" class="main-container">
    <div class="container">
    <div class="row">

    <div class="col-md-6">
    <h2 class="intro-title">Who We Are</h2>
    <h3 class="title-classic left">Our Vision</h3>
    <p class="intro-desc">	Bolt Productions is a gaming and esports-oriented events management & production company providing end-to-end service/solutions customisable to your needs/based on your requirements.
    We are a team of experienced &amp; passionate professionals with proven ability be it planning and executing small to large scale esports production, providing consultancy on targeted esports events &amp; technical/ad-hoc support.
    </p>
    <blockquote>To be your trusted one-stop Esports & gaming service provider that  delivers top-notch livestreaming events to leverage and engage the right target segment among youths within the gaming community.</p>
    </div><!-- Col end -->

    <div class="col-md-6">
    <div class="feature-box">
    <span class="feature-box-media">
    <img src="images/icons/keynotes.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Inspiring Keynotes</h3>
    <p>Our gaming events have had a wide array of amazing guests and speakers</p>
    </div>
    </div><!-- Feature box 1 end -->

    <div class="feature-box">
    <span class="feature-box-media">
    <img src="images/icons/reinvent.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Reinventing Experiences</h3>
    <p>We are dedicated to creating new and unique gaming experiences that delight and amaze our clients and their customers</p>
    </div>
    </div><!-- Feature box 2 end -->

    <div class="feature-box last">
    <span class="feature-box-media">
    <img src="images/icons/fact-speaker.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Learning Sessions</h3>
    <p>>We can provide facilities to allow attendees to learn about the latest tech in gaming development</p>
    </div>
    </div><!-- Feature box 3 end -->

    </div><!-- Col end -->

    </div><!-- Content row end -->
    </div><!-- Conatiner end -->
    </section>    