//- events.pug
extends layout
block content
    <div id="page-banner-area" class="page-banner-area">
    <!-- Subpage title start -->
    <div class="page-banner-title">
    <div class="text-center">
    <h2>Upcoming Events</h2>
    </div>
    </div><!-- Subpage title end -->
    </div>

    block schedule
        include partials/schedule