//- index.pug
extends layout
block content
    <section id="banner">
    <div class="banner-item bg-overlay gradient-bg" style="background-image:url(images/hero-area/hero1.jpg)">
    <div class="container">
    <div class="banner-content text-center">
    <div class="banner-content-light">
    <h1 class="banner-title">Gaming Defined</h1>
    <h2 class="banner-subtitle">Irelands No.1 Gaming &amp; eSports event managment company</h2>
    <p class="banner-btn">
    <a href="about.html" class="btn btn-primary">About Us</a>
    <a href="services.html" class="btn btn-border">Services</a>
    </p>
    </div><!-- Banner content wrap end -->
    </div><!-- Banner content end -->
    </div><!-- Container end -->
    </div><!-- Banner item end -->
    </section><!-- Section banner end -->

    <section id="ts-intro" class="ts-intro">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">

    <h2 class="intro-title">About Bolt</h2>
    <h3 class="intro-sub-title">Who We Are</h3>
    <p class="intro-desc">	Zenway Productions is a gaming and esports-oriented events management & production company providing end-to-end service/solutions customisable to your needs/based on your requirements.
    We are a team of experienced &amp; passionate professionals with proven ability be it planning and executing small to large scale esports production, providing consultancy on targeted esports events &amp; technical/ad-hoc support.
    </p>
    <h3 class="intro-sub-title">Our Vision</h3>
    <p class="intro-desc">	To be your trusted one-stop Esports & gaming service provider that  delivers top-notch livestreaming events to leverage and engage the right target segment among youths within the gaming community.
    </p>
    <a href="about.html" class="btn btn-primary">Know More</a>
    </p>
    </div><!-- Col end -->

    <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="row">
    <div id="gallery" class="intro-gallary">

    <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="gallery-container">
    <a class="gallery-popup cboxElement" href="images/gallery/gallery_1.jpg">
    <img class="img-responsive" src="images/gallery/gallery_1.jpg" alt="">
    <span class="gallery-icon"><i class="fa fa-search"></i></span>
    </a>
    </div>
    </div><!-- Gallery item 1 end -->

    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="gallery-container">
    <a class="gallery-popup cboxElement" href="images/gallery/gallery_2.jpg">
    <img class="img-responsive" src="images/gallery/gallery_2.jpg" alt="">
    <span class="gallery-icon"><i class="fa fa-search"></i></span>
    </a>
    </div>
    </div><!-- Gallery item 2 end -->

    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="gallery-container">
    <a class="gallery-popup cboxElement" href="images/gallery/gallery_3.jpg">
    <img class="img-responsive" src="images/gallery/gallery_3.jpg" alt="">
    <span class="gallery-icon"><i class="fa fa-search"></i></span>
    </a>
    </div>
    </div><!-- Gallery item 3 end -->

    </div><!-- Gallery end -->
    </div><!-- Gallery row end -->

    </div><!-- Col end -->
    </div><!-- Content row end -->
    </div><!-- Container end -->
    </section>    

    <section id="ts-intro" class="ts-intro">
    <div class="container">
    <div class="row text-center">
    <h2 class="section-title">Why Bolt?</h2>
    <h3 class="section-sub-title">What to Expect from our Events</h3>
    </div><!--/ Title row end -->

    <div class="row">
    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/reinvent.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Reinventing Experiences</h3>
    <p>We are dedicated to creating new and unique gaming experiences that delight and amaze our clients and their customers</p>
    </div>
    </div><!-- Feature box 1 end -->
    </div><!-- Col end -->

    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/keynotes.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Inspiring Keynotes</h3>
    <p>Our gaming events have had a wide array of amazing guests and speakers</p>
    </div>
    </div><!-- Feature box 2 end -->
    </div><!-- Col end -->

    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/fact-speaker.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Learning Sessions</h3>
    <p>We can provide facilities to allow attendees to learn about the latest tech in gaming development</p>
    </div>
    </div><!-- Feature box 3 end -->
    </div><!-- Col end -->

    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/food.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Fun, Friends &amp; Food</h3>
    <p>Our events always provide entertainment, we can also provide the food</p>
    </div>
    </div><!-- Feature box 4 end -->
    </div><!-- Col end -->

    </div><!-- Content row end -->
    </div><!-- Conatiner end -->
    </section>

    <section id="ts-schedule" class="ts-schedule">
    <div class="container">
    <div class="row text-center">
    <h2 class="section-title">Don't Miss a Thing</h2>
    <h3 class="section-sub-title">Upcoming Events</h3>
    </div><!--/ Title row end -->

    <div class="row">
    <div class="col-md-12">

    <div class="schedule-tab">
    <ul class="nav nav-tabs" id="nav-tabs">
    <li class="active">
    <a class="animated fadeIn" href="#tab_one" data-toggle="tab" aria-expanded="true">
    <span class="tab-head">
    <span class="tab-text-title">eSports Competitions</span>					
    </span>
    </a>
    </li>
    <li class="">
    <a class="animated fadeIn" href="#tab_two" data-toggle="tab" aria-expanded="false">
    <span class="tab-head">
    <span class="tab-text-title">Gaming Expos</span>					
    </span>
    </a>
    </li>
    </ul>

    <div class="tab-content">
    <div class="tab-pane animated fadeInRight active" id="tab_one">

    <div class="schedule-listing bg">
    <span class="schedule-slot-time">January 5, 2019 </br> 9:30 - 18:00</span>
    <div class="schedule-slot-info">
    <a href="#">
    <img class="schedule-slot-speakers" src="https://cdn02.nintendo-europe.com/media/images/11_square_images/games_18/nintendo_switch_download_software/SQ_NSwitchDS_Fortnite.jpg" alt="">
    </a>
    <div class="schedule-slot-info-content">
    <h3 class="schedule-slot-title">Fortnite e-stars</h3>
    <p class="schedule-slot-desc">EStars featuring Fortnite brings the biggest Fortnite fanatics together to battle it out solo at Croke Park. </p>
    <a href="https://www.estars.pro/event/estars-featuring-fortnite-dublin/" class="btn btn-primary" />Learn More</a>
    </div><!--Info content end -->
    </div><!-- Slot info end -->
    </div><!-- Slot listing 1 end -->

    <div class="schedule-listing bg">
    <span class="schedule-slot-time">January 10, 2019 </br> 9:30 - 18:00</span>
    <div class="schedule-slot-info">
    <a href="#">
    <img class="schedule-slot-speakers" src="https://logonoid.com/images/overwatch-logo.png" alt="">
    </a>
    <div class="schedule-slot-info-content">
    <h3 class="schedule-slot-title">Overwatch Contenders</h3>
    <p class="schedule-slot-desc">See who can win the prize pool</p>
    <a href="#" class="btn btn-primary" />Learn More</a>
    </div><!--Info content end -->
    </div><!-- Slot info end -->
    </div><!-- Slot listing 2 end -->

    <div class="schedule-listing bg">
    <span class="schedule-slot-time">January 20, 2019 </br> 9:30 - 18:00</span>
    <div class="schedule-slot-info">
    <a href="#">
    <img class="schedule-slot-speakers" src="https://vignette.wikia.nocookie.net/nohud/images/e/e0/Rocket_League_coverart.jpg/revision/latest?cb=20160619210955" alt="">
    </a>
    <div class="schedule-slot-info-content">
    <h3 class="schedule-slot-title">Rocket League</h3>
    <p class="schedule-slot-desc">See who can win the prize pool</p>
    <a href="#" class="btn btn-primary" />Learn More</a>
    </div><!--Info content end -->
    </div><!-- Slot info end -->
    </div><!-- Slot listing 3 end -->

    </div><!-- Tab pane 1 end -->

    <div class="tab-pane animated fadeInRight active" id="tab_two">
    <div class="schedule-listing bg">
    <span class="schedule-slot-time">January 5, 2019 </br> 9:30 - 18:00</span>
    <div class="schedule-slot-info">
    <a href="#">
    <img class="schedule-slot-speakers" src="http://www.avozar.com/wp-content/uploads/2015/09/League-of-Legends-Event-Design-01.png" alt="">
    </a>
    <div class="schedule-slot-info-content">
    <h3 class="schedule-slot-title">League of legends</h3>
    <p class="schedule-slot-desc">League of Legends Competition</p>
    <a href="#" class="btn btn-primary" />Learn More</a>
    </div><!--Info content end -->
    </div><!-- Slot info end -->
    </div><!-- Slot listing 1 end -->

    <div class="schedule-listing bg">
    <span class="schedule-slot-time">January 10, 2019 </br> 9:30 - 18:00</span>
    <div class="schedule-slot-info">
    <a href="#">
    <img class="schedule-slot-speakers" src="https://vsimgs3.forfansbyfans.com/image/cache/data/productimages/Valve_CSGO/Accessories/15/CACOUVV013_CSGO-Logo-Patch_ORANGE-1000x1000.jpg" alt="">
    </a>
    <div class="schedule-slot-info-content">
    <h3 class="schedule-slot-title">CS:GO</h3>
    <p class="schedule-slot-desc">See who can win the prize pool</p>
    <a href="#" class="btn btn-primary" />Learn More</a>
    </div><!--Info content end -->
    </div><!-- Slot info end -->
    </div><!-- Slot listing 2 end -->

    <div class="schedule-listing bg">
    <span class="schedule-slot-time">January 20, 2019 </br> 9:30 - 18:00</span>
    <div class="schedule-slot-info">
    <a href="#">
    <img class="schedule-slot-speakers" src="https://images-na.ssl-images-amazon.com/images/I/712V%2B%2BypIAL.jpg" alt="">
    </a>
    <div class="schedule-slot-info-content">
    <h3 class="schedule-slot-title">Smash Bros 4</h3>
    <p class="schedule-slot-desc">See who can win the prize pool</p>
    <a href="#" class="btn btn-primary" />Learn More</a>
    </div><!--Info content end -->
    </div><!-- Slot info end -->
    </div><!-- Slot listing 3 end -->

    </div><!-- Tab pane 3 end -->	
    </div><!-- tab content -->

    <div class="gap-60"></div>

    </div><!-- Schedule tab end -->
    </div><!-- Col end -->
    </div><!-- Content row end -->
    </div><!--/ Container end -->
    </section>