//- index.pug
extends layout
block content
    <section id="banner">
    <div class="banner-item bg-overlay gradient-bg" style="background-image:url(images/hero-area/hero1.jpg)">
    <div class="container">
    <div class="banner-content text-center">
    <div class="banner-content-light">
    <h1 class="banner-title">Gaming Defined</h1>
    <h2 class="banner-subtitle">Irelands No.1 Gaming &amp; eSports event managment company</h2>

    <p class="banner-btn">
    <a href="about.html" class="btn btn-primary">About Us</a>
    <a href="services.html" class="btn btn-border">Services</a>
    </p>
    </div><!-- Banner content wrap end -->
    </div><!-- Banner content end -->
    </div><!-- Container end -->
    </div><!-- Banner item end -->
    </section><!-- Section banner end -->

    <section id="ts-intro" class="ts-intro">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">

    <h2 class="intro-title">About Bolt</h2>
    <h3 class="intro-sub-title">Who We Are</h3>
    <p class="intro-desc">	Bolt Productions is a gaming and esports-oriented events management & production company providing end-to-end service/solutions customisable to your needs/based on your requirements.
    We are a team of experienced &amp; passionate professionals with proven ability be it planning and executing small to large scale esports production, providing consultancy on targeted esports events &amp; technical/ad-hoc support.
    </p>
    <h3 class="intro-sub-title">Our Vision</h3>
    <p class="intro-desc">	To be your trusted one-stop Esports & gaming service provider that  delivers top-notch livestreaming events to leverage and engage the right target segment among youths within the gaming community.
    </p>
    <a href="about.html" class="btn btn-primary">Know More</a>
    </p>
    </div><!-- Col end -->

    <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="row">
    <div id="gallery" class="intro-gallary">

    <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="gallery-container">
    <a class="gallery-popup cboxElement" href="images/gallery/gallery_1.jpg">
    <img class="img-responsive" src="images/gallery/gallery_1.jpg" alt="">
    <span class="gallery-icon"><i class="fa fa-search"></i></span>
    </a>
    </div>
    </div><!-- Gallery item 1 end -->

    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="gallery-container">
    <a class="gallery-popup cboxElement" href="images/gallery/gallery_2.jpg">
    <img class="img-responsive" src="images/gallery/gallery_2.jpg" alt="">
    <span class="gallery-icon"><i class="fa fa-search"></i></span>
    </a>
    </div>
    </div><!-- Gallery item 2 end -->

    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="gallery-container">
    <a class="gallery-popup cboxElement" href="images/gallery/gallery_3.jpg">
    <img class="img-responsive" src="images/gallery/gallery_3.jpg" alt="">
    <span class="gallery-icon"><i class="fa fa-search"></i></span>
    </a>
    </div>
    </div><!-- Gallery item 3 end -->

    </div><!-- Gallery end -->
    </div><!-- Gallery row end -->

    </div><!-- Col end -->
    </div><!-- Content row end -->
    </div><!-- Container end -->
    </section>    

    <section id="ts-intro" class="ts-intro">
    <div class="container">
    <div class="row text-center">
    <h2 class="section-title">Why Bolt?</h2>
    <h3 class="section-sub-title">What to Expect from our Events</h3>
    </div><!--/ Title row end -->

    <div class="row">
    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/reinvent.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Reinventing Experiences</h3>
    <p>We are dedicated to creating new and unique gaming experiences that delight and amaze our clients and their customers</p>
    </div>
    </div><!-- Feature box 1 end -->
    </div><!-- Col end -->

    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/keynotes.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Inspiring Keynotes</h3>
    <p>Our gaming events have had a wide array of amazing guests and speakers</p>
    </div>
    </div><!-- Feature box 2 end -->
    </div><!-- Col end -->

    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/fact-speaker.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Learning Sessions</h3>
    <p>We can provide facilities to allow attendees to learn about the latest tech in gaming development</p>
    </div>
    </div><!-- Feature box 3 end -->
    </div><!-- Col end -->

    <div class="col-md-3">
    <div class="feature-box-center">
    <span class="feature-box-media">
    <img src="images/icons/food.png" alt="">
    </span>
    <div class="feature-box-content">
    <h3 class="feature-title">Fun, Friends &amp; Food</h3>
    <p>Our events always provide entertainment, we can also provide the food</p>
    </div>
    </div><!-- Feature box 4 end -->
    </div><!-- Col end -->

    </div><!-- Content row end -->
    </div><!-- Conatiner end -->
    </section>

    block schedule
        include partials/schedule