//- services.pug
extends layout
block content
    <div id="page-banner-area" class="page-banner-area">
    <!-- Subpage title start -->
    <div class="page-banner-title">
    <div class="text-center">
    <h2>Services</h2>
    </div>
    </div><!-- Subpage title end -->
    </div><!-- Page Banner end -->

    <section id="main-container" class="main-container">
    <div class="container">
    <div class="row">
    <div class="clearfix">
    <div class="col-xs-12 col-md-4">
    <div class="ts-speaker-details">
    <div class="ts-speaker-details-img">
    <img class="img-responsive" src="https://www.qualitance.com/wp-content/uploads/2018/06/the-future-of-esports-2-compressor.jpg" alt="">
    </div><!--Image end -->
    </div><!--Image end -->
    </div><!-- Col end -->

    <div class="col-xs-12 col-md-8">
    <div class="ts-speaker-session right">
    <h3 class="session-title">eSports</h3>
    <p>We provide eSports events for all areas of the gaming market</p>
    <h4>eSports Expertise</h4>
    <ul>
    <li>Event Consultancy and Management</li>
    <li>Mobile, PC, Console Gaming Events / Tournaments</li>
    <li>Production Setup Consultancy</li>
    <li>Setup for Stream Production</li>
    <li>Training (Production Crew)</li>
    <li>Pre to post-event league and tournament operations</li>
    <li>World class studio and set design</li>
    </ul>
    </div><!-- Session end -->
    </div><!-- Col end -->
    </div><!-- Speaker list 1 end -->
    </div><!-- Speaker row 1 -->

    <hr>

    <div class="row">
    <div class="clearfix">
    <div class="col-xs-12 col-md-8">
    <div class="ts-speaker-session left">
    <h3 class="session-title">Livestreaming Solutions</h3>
    <p>We can provide top of the range streaming solutions</p>
    <h4>Elevated Production </h4>
    <ul>
    <li>Consultation and execution</li>
    <li>Creation of Streaming Channels</li>
    <li>Studio/Office Setup</li>
    <li>Livestreaming production</li>
    <li>VODs Post-production</li>
    <li>Best in class broadcast and digital production</li>
    <li>Years of experience producing gaming content </li>
    <li>Industry-leading linear and digital distribution</li>
    <li>Live sports expertise meets esports productions</li>
    </ul>
    </div><!-- Session end -->
    </div><!-- Col end -->

    <div class="col-xs-12 col-md-4">
    <div class="ts-speaker-details">
    <div class="ts-speaker-details-img">
    <img class="img-responsive" src="https://esportbet.com/wp-content/uploads/2018/02/overwatch_league_casters_announced-700x700.jpg" alt="">
    </div><!--Image end -->
    </div><!--Image end -->
    </div><!-- Col end -->
    </div><!-- Speaker list 1 end -->
    </div><!-- Speaker row 2 -->

    <hr>

    <div class="row">
    <div class="clearfix">
    <div class="col-xs-12 col-md-4">
    <div class="ts-speaker-details">
    <div class="ts-speaker-details-img">
    <img class="img-responsive" src="http://sportlinko.com/wp-content/uploads/2018/07/ninja-talks-fortnite-chicago-and-being-a-role-model-for-younger-audiences.jpg" alt="">
    </div><!--Image end -->
    </div><!--Image end -->
    </div><!-- Col end -->

    <div class="col-xs-12 col-md-8">
    <div class="ts-speaker-session right">
    <h3 class="session-title">Talent Management</h3>
    <p>We manage a wide variety of shout-casters, hosts, personalities and influencers within the gaming community, across various genres.</p>
    <ul>
    <li>We are able to facilitate organizations in building a good working relationship with the talents</li>
    </ul>
    </div><!-- Session end -->
    </div><!-- Col end -->
    </div><!-- Speaker list 1 end -->
    </div><!-- Speaker row 3 -->



    </div><!-- Conatiner end -->
    </section><!-- Main container end -->