//-footer.pug
footer
  <footer id="footer" class="footer text-center">
  <div class="container">
  <div class="row">
  <div class="col-md-12">

  <div class="footer-menu">
  <ul class="nav unstyled">
  <li><a href="index.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="services.html">Services</a></li>
  <li><a href="events.html">Upcoming Events</a></li>
  <li><a href="contact.html">Contact</a></li>
  </ul>
  </div><!-- Footer menu end -->

  <div class="footer-logo">
  <img src="images/logos/logo.png" alt="footer logo">
  </div>


  <div class="footer-social">
  <ul>
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
  </div><!-- Footer social end -->


  <div class="copyright-info">
  <span>Copyright © 2018 Bolt Productions. All Rights Reserved.</span>
  </div><!-- Copyright info end -->

  </div><!-- Content col end -->
  </div><!-- Content row end -->
  </div><!-- Container end -->
  <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix" style="display: block;">
  <button class="btn btn-primary" title="Back to Top">
  <i class="fa fa-angle-up"></i>
  </button>
  </div>
  </footer>